/* styles.css */
h1{
    text-align: center;
}

.navbar {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.navbar a{
    padding: 14px;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: black;
}

