/* styles.css */
h1{
    text-align: center;
}

.navbar{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.navbar a{
    color: white;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    display: block;
}

